<div class="login-signup">
    <section class="Login">
      <app-header></app-header>
       <h6>.</h6>
         
       <div class="body_section">
            <div class="body-inner">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8">

                                    <h3 class="signh2">SURF.CLICK.GROW</h3>
                                    <h6 class="signh5">Inspire your child greater heights. We connect you with</h6> 
                                    <h6 class="signh5"> Ease to our community of educators.</h6>
                                 
                            </div>
                                <!-- sign up form second div -->
                                <div class="col-md-4">
                                    <h3>Sign Up</h3><hr><br>
                                <div class="form-row">
                                    <div class="form-group">
                                    First Name:
                                    <input type="text" class="form-control" id="email">&nbsp;&nbsp;
                                    </div>

                                    <div class="form-group">
                                    Last Name:
                                    <input type="text" class="form-control" id="email">&nbsp;&nbsp;
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group">
                                    Email:
                                    <input type="text" class="form-control" id="email">&nbsp;&nbsp;
                                    </div>

                                    <div class="form-group">
                                    Username:
                                    <input type="text" class="form-control" id="email">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group">
                                    Password:
                                    <input type="text" class="form-control" id="email">&nbsp;&nbsp;
                                    </div>
    
                                    <div class="form-group">
                                    Confirm-Password:
                                    <input type="text" class="form-control" id="email">
                                    </div>
                                </div><br>

                                <div class="form-group">
                                    <input type="checkbox"  name="">&nbsp;By registering you agree to our terms of use.
                                    </div><br>
                                <input type="button" class="btb-btn-info" value="Sign Up"><br><hr>


                                    <a href="#" class="fa fa-facebook"></a>&nbsp;&nbsp;
                                    <a href="#" class="fa fa-google"></a><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </section>
    <app-footer></app-footer>
</div>