<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-md">
    <div class="container">
      <a class="logo" href="http://localhost" title="Thomas Cook">
        <img src="assets/img/logo.svg" alt="Moppetto" />
      </a>
      <ul class="navbar-nav top_nav">
        <li class="nav-item">
          <a href="http://localhostpages/contact-us" title="Contact">Contact</a>
        </li>
        <li class="nav-item">
          <a href="http://localhostpages/about-us" title="About">About</a>
        </li>
        <li class="nav-item">
          <a href="http://localhosthome/blog_list/" title="Stories">Stories</a>
        </li>
      </ul>
     
    </div>
  </nav>
</header>