<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3">
        <a href="http://localhost" class="footer_logo">
          <img src="assets/img/footer_logo.png" alt="Moppetto" /> </a>
      </div>
      <div class="col-12 col-sm-12 col-md-8 offset-md-1 col-lg-5">
        <ul class="footer_links">
          <li>
            <a href="http://localhost" title="Home" target="_blank">
              <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; Home</a>
          </li>
          <li>
            <a href="http://localhostpages/join-the-flock" target="_blank" title="Join the flock">
              <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; Join the flock</a>
          </li>
          <li>
            <a href="http://localhostpages/about-us" target="_blank" title="Join the flock">
              <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; About us</a>
          </li>
          <li>
            <a href="http://localhostpages/terms-of-use" target="_blank" title="Join the flock">
              <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; Terms & use</a>
          </li>
          <li>
            <a href="http://localhostpages/contact-us" target="_blank" title="Join the flock">
              <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; Contact us</a>
          </li>
          <li>
            <a href="http://localhostpages/privacy-policy" target="_blank" title="Join the flock">
              <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; Privacy policy</a>
          </li>


        </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-3">
        <ul class="social_link">
          <li>
            <a href="https://www.facebook.com/" target="_blank">
              <img src="assets/img/facebook.png" alt="Facebook" /> </a>
          </li>
          <li>
            <a href="https://twitter.com/" target="_blank">
              <img src="assets/img/twitter.png" alt="Twitter" /> </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank">
              <img src="assets/img/instagram.png" alt="Instagram" /> </a>
          </li>
        </ul>
        <div class="copyright_sec">Copyright 2019. by Moppetto.</div>
      </div>
    </div>
  </div>
</footer>